@import "~bootstrap";

table,
td {
    border: 1px solid #333;
}
th,td{
    padding: 20px;
}
th{
    border: solid 1px #333;
}
table{
    width: 100%;
    img{
        width: 100px;
        height: 100px;
    }
}
.avatar{
    width: 100px;
    height: 100px;
}
thead,
tfoot {
    background-color: #007bff;
    color: #fff;
}

nav{
    background-color: #007bff;
    a{
        color: white;
    }
}